.head {
    background-color: #343a40;
    color: #fff;
    text-align: center;
}

.head h1 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}

main {
    padding: 2rem;
}

.support-form,
.faq {
    background: #fff;
    margin: 1rem 0;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 1rem;
    /* color: #00AE4C; */
}

label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

input,
textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #00AE4C;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
}

button:hover {
    background-color: #00AE4C;
}

.faq-item {
    margin-bottom: 1.5rem;
}

.faq-item h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #343a40;
    color: #fff;
}

.support-form {
    box-shadow: 5px 5px 10px #00000080, -1px 0 5px #ffffff3e !important;
}

.cover {
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.526);
}